/TuxMobile_2.0/.DS_Store
.DS_Store
/TuxMobile_2.0/TuxMobile/TuxMobile/UI/.DS_Store
/ExampleTMWProject.xcodeproj/project.xcworkspace/xcuserdata/adurbalo.xcuserdatad/
/ExampleTMWProject.xcodeproj/xcuserdata/adurbalo.xcuserdatad/
/TuxMobile_2.0/TuxMobile/Pods/Pods.xcodeproj/xcuserdata/adurbalo.xcuserdatad/
/TuxMobile_2.0/TuxMobile/TuxMobile.xcodeproj/xcuserdata/adurbalo.xcuserdatad/
/TuxMobile_2.0/TuxMobile/TuxMobile.xcworkspace/xcuserdata/adurbalo.xcuserdatad/